<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div id="books"></div>
</body>
<script>
    const mapper = (book) => {
        book.map((ele) => {
            let h1 = document.createElement("h1");
            h1.innerHTML = ele.title;
            let img = document.createElement("img");
            img.src = `http://localhost:8090/${ele.imageUrl}`;

            document.getElementById("books").append(h1, img);
        });
    };

    const getUserBook = async () => {
        let req = await fetch("http://localhost:8090/books");
        let res = await req.json();
        console.log(res);
        mapper(res);
    };

    getUserBook();
</script>

</html>
